.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
    background-image: url('data:image/svg+xml;utf8,<svg width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 17L15 12L10 7" stroke="white" stroke-width="1.5" stroke-linecap="square"/></svg>');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}
.bx-wrapper .bx-prev {
    transform: rotate( -180deg );
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position: 0 0;
}
.bx-wrapper .bx-controls-direction a {
    margin-top: 0 !important;
}

.hc_timesale_list .timesaleItem:first-child {
  border: 2px solid orange;
}  
.hc_timesale_list div:first-child .timesaleItem {
  border: 2px solid orange;
} 