#hc_commonWrap {
    top: 44px;
}
#hc_contentWrap {
    text-align: center;
}
main {
    margin-top: -49px;
}
.hc_aospae div {
    margin-bottom:260px;
}
.hc_aospae div img {
    width:100%;
}
.hc_double_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
}