@font-face {
    font-family: 'digital mono';
    font-style: normal;
    font-weight: normal;
    src: local('digital mono'), url('https://kcompony7.jpg3.kr/web/hncok/font/digital mono.ttf') format('ttf');
}
