@font-face {
	font-family: digital_7_mono;
	src: local("https://www.pigment.co.kr//design/kcompany7/fonts/digital_7_mono.ttf"), local("https://www.pigment.co.kr//design/kcompany7/fonts/digital_7_mono.ttf"), url("https://www.pigment.co.kr//design/kcompany7/fonts/digital_7_mono.ttf");
	font-weight: bold;
}