.hc_member_wrap section {
    margin-bottom: 60px;
}
.hc_radio_check label,
.hc_login_check label {
    margin-right: 16px;
    vertical-align: middle;
}
.hc_radio_check  {
    text-align: left;
    margin-bottom: 10px;
}