.hc_member_wrap .tableBox {
  text-align: left;
}
.hc_member_wrap .tableBox th {
  font-weight: 400;
}
.hc_member_wrap .tableBox p.hc_color_point {
  margin-bottom: 10px;
  font-size: var(--hc_bd_small);
}
.hc_member_wrap .tableBox input[type="email"] {
  width: 100% !important;
}
.hc_member_wrap .type1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.gender th, .gender td {
  height: 40px;
  line-height: 40px;
}
.gender dl {
  display: inline-flex;
}
.gender dd {
  margin-right: 14px;
}
.form-terms .form-wrap {
  margin: 0 !important;
  padding: 18px 10px !important;
  text-align: left;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid var(--hc_dark_color) !important;    
}
.form-terms .form-wrap textarea {
  width: 100% !important;
  color: inherit !important;
  border-radius: 0 !important;
  background: var(--hc_color_level3) !important;
}
.form-terms .form-wrap .contract-tbl th {
  color: inherit !important;
  background: var(--hc_color_level3) !important;
}
.form-terms .form-wrap .contract-tbl th, .form-terms .form-wrap .contract-tbl td {
  border-color: var(--hc_color_level2) !important;
  font-weight: var(--hc_light);
}
.form-terms .form-wrap h4.form-title {
  font-size: inherit !important;
  font-weight: var(--hc_light) !important;
  font-family: inherit !important;
}
.form-terms .form-wrap h4.form-title .btn-toggle {
  position: absolute;
  right: 60px;
}
.form-terms .bold {
  font-weight: var(--hc_light);
}
.sbSelector {
  font-weight: normal;
}
.sbHolder {
  border-color: var(--hc_dark_color) !important;
}
.join-msg li p {
  text-align: left;
  margin-top: 20px;
}