/*
    테마
*/
h1 {
  font-size: var(--hc_logo); /* 로고용     : 32px     */
}

h2 {
  font-size: var(--hc_tit_page); /* 페이지 타이틀 : 30px  */
}

h3 {
  font-size: var(--hc_bd_xlarge); /* 제목      : 28px → 18     */
}

h4 {
  font-size: var(--hc_bd_medium); /* 머리말    : 26px → 14     */
}

h5 {
  font-size: var(--hc_bd_small); /* 부 머리말 : 24px → 12     */
}

h6 {
  font-size: var(--hc_tit_caption); /* 부 머리말 : 22px      */
}

.hc_bd_xxlarge {
  font-size: var(--hc_bd_xxlarge);
}

.hc_color_point {
  color: var(--hc_color_point);
}

/* 타이틀 */
h2.hc_page_title {
  margin-top: 20px;
  text-align: center;
}
.hc_title_barrel {
  padding: 0 10px 10px;
  word-break: keep-all;
  word-wrap: break-word;
}
.hc_title_barrel h2 {
  text-align: left;
}
.hc_title_barrel p::after {
  content: "";
  display: block;
  margin: 20px 0;
  width: 30px;
  height: 1px;
  background: #000;
}
.hc_title_solid {
  display: inline-block;
  margin-top: 38px;
  padding: 14px 0 15px;
  font-size: var(--hc_bd_large);
  font-weight: var(--hc_regular);
  border-top: 1px solid var(--hc_dark_color);
}
.hc_title_dashed {
  display: inline-block;
  margin-top: 38px;
  padding: 14px 0;
  font-size: var(--hc_bd_large);
  font-weight: var(--hc_regular);
  border-top: 1px dashed var(--hc_dark_color);
}

/* 간격 */
.hc_interval1 {
  margin-bottom: 48px;
}
.hc_interval2 {
  margin-bottom: 28px;
}
.hc_interval3 {
  padding: 1em 0;
}
.hc_headline_checking {
  margin: 0 10px 20px;
  display: flex;
  gap: 10px;
}
.hc_page_contents {
  margin: 10px;
}
.hc_page_contents2 {
  margin: 20px;
}
.hc_topfull {
  text-align: center;
}

/* 인풋박스*/
.hc_inputbox_middle {
  width: 274px;
  height: 58px;
}

.hc_inputbox_middle_btn {
  margin-left: 4px;
  width: 118px;
  height: 35px;
  line-height: 35px;
  color: var(--hc_bright_color);
  font-size: var(--hc_bd_large);
  background: var(--hc_dark_color);
  border: 0;
  outline: 0;
  cursor: pointer;
}
.hc_sub_wrap .hc_checking {	
  position: absolute;	
  top: 5px;	
  right: 7px;	
}
.hc_sub_wrap .hc_closing {
  position: absolute;	
  top: 28px;	
  right: 7px;	
}

/* 버튼 */
.hc_btn_wrap {
  margin: 30px auto 0;
  text-align: center;
}
.hc_btn_column_layout {
  margin: 30px 10px 0;
  display: grid;
  gap: 10px;
  flex-direction: column;
}
.hc_btn_long,
.hc_btn_long_fill {
  display: block;
  padding: 10px;
  color:var(--hc_bright_color);
  text-align: center;
  background: var(--hc_dark_color);
  border: 1px solid var(--hc_dark_color);
}
.hc_btn_long {
  color:var(--hc_dark_color);
  background: var(--hc_bright_color);
}
.hc_btn_Regular {
  display: inline-block;
  padding: 0 4px;
  border: 1px solid var(--hc_dark_color);
}
.hc_btn_small {
  padding: 0 4px;
  border: 1px solid var(--hc_dark_color);
}
.hc_btn_more {
  display: block;
  font-size: var(--hc_bd_large);
  font-weight: var(--hc_mediums);
  text-decoration: underline !important;
  text-underline-offset: 6px;
}

.hc_topfull img,
.hc_thumbnail img {
  width: 100%;
}
.hc_prd_element {
display: inline-block;
}
.hc_prd_element li {
display: inline-block;
/* margin: 0 7px; */
font-size: var(--hc_bd_medium);
}
.hc_prd_name {
font-size: var(--hc_bd_large);
font-weight: var(--hc_medium);
vertical-align: baseline;
}
.hc_prd_name::after {
content: "/";
margin: 0 7px;
}
.hc_normal_price {
color: var(--hc_color_level2);
font-weight: var(--hc_medium);
text-decoration: line-through;
}
.hc_discount_price {
margin-left: 7px;
font-weight: var(--hc_medium);
}
.hc_discount_rate {
margin-left: 14px;
color: var(--hc_color_point);
}

.hc_blind {
display: none !important;
}
.hc_inline {
display: inline-flex;
align-items: center;
}
.hc_no_date {
padding: 4%;
text-align:center;
}
.hc_md_more_description {
display: flex;
justify-content: space-between;
box-sizing: border-box;
transition: all 0.6s ease 0s;
cursor: pointer;
}

.hc_md_arrow {
position: relative;
right: 50px;
display: inline-block;
margin-right: 30px;
width: 1.25rem;
height: 1.25rem;
}
.hc_md_arrow span {
top: 0.85rem;
position: absolute;
width: 0.75rem;
height: 0.1rem;
background-color: #efefef;
display: inline-block;
transition: all 0.2s ease;
}
.hc_md_arrow span:first-of-type {
left: 0;
transform: rotate(45deg);
}
.hc_md_arrow span:last-of-type {
right: 0;
transform: rotate(-45deg);
}
.hc_md_arrow.active span:first-of-type {
transform: rotate(-45deg);
}
.hc_md_arrow.active span:last-of-type {
transform: rotate(45deg);
}
