.hc_member_wrap section {
    margin-bottom: 60px;
}
.hc_login_check {
    text-align: left;
}
.hc_login_check label {
    margin-right: 16px;
    vertical-align: middle;
}
.hc_sns_login li {
    list-style: inside;
    list-style-type: circle;
    text-align: left;
}