.hc_searchform {
  margin: 0 10px 48px;
  border-bottom: 1px solid var(--hc_dark_color);
}

.hc_searchform input[name="s"] {
  width: calc(100% - 30px);
  border: 0;
}

.thumbnailRuleColumn2 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    padding: 0 6px;
}

.prdlist2_content {
    position: relative;
    vertical-align: top;
    padding: 0 2px;
}