/*
    ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ hncok 공통 모듈 분리 ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
*/
/* 
	버튼 
*/
.hc_btn_wrap {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    gap: 10px;
	margin-top: 68px;
}
.hc_btn_small,
.hc_btn_large,
a.hc_btn_small_fill,
.hc_btn_small_fill,
.hc_btn_large_fill {
    margin: 0 auto;
    display: block;
    color: var(--hc_bright_color);
    font-size: var(--hc_bd_medium);
    width: 100%;
    max-width: 558px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: var(--hc_dark_color);
    box-sizing: border-box;
}
.hc_btn_large {
	color: var(--hc_dark_color);
	background: var(--hc_bright_color);
	border: 1px solid var(--hc_dark_color);	
}
.hc_btn_large a,
.hc_btn_large_fill a {
	display: block;
	width: 100%;
	line-height: 48px;
}
.hc_btn_small_fill a,
.hc_btn_large_fill a {
	color: var(--hc_bright_color);
}
a.hc_btn_small_fill,
.hc_btn_small,
.hc_btn_small_fill {
	margin: 0;
	width: 142px;
    font-size: var(--hc_bd_small);
}
.hc_btn_small {
	margin: 0;
	color: var(--hc_dark_color);
	background: var(--hc_bright_color);
	border: 1px solid var(--hc_dark_color);
}
a.hc_btn_small_fill {
	display: inline-block;	
}
.hc_btn_mini_fill,
.hc_btn_mini {
  margin: 2px 0;
  display: inline-block;
  min-width: 80px;
  height: 26px;
  line-height: 26px;
  font-size: var(--hc_bd_small);
  background: var(--hc_bright_color);
  border: 1px solid var(--hc_dark_color);
}
.hc_btn_mini_fill {
  color: var(--hc_bright_color);
  background: var(--hc_dark_color);
}
.hc_btn_mini_small_fill,
.hc_btn_mini_small {
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: var(--hc_bd_xsmall);
  font-weight: var(--hc_thin);
  background: var(--hc_bright_color);
  border: 1px solid var(--hc_dark_color);
}
.hc_btn_mini_small_fill {
	color: var(--hc_bright_color);
	background: var(--hc_dark_color);
  border: 1px solid var(--hc_dark_color);
}
/* 
	SELECT 
*/
.hc_selectbox_large select,
.hc_selectbox_large {
  width:100%;
  height: 48px;
  cursor: pointer;
}
.hc_textarea_large textarea {
	padding-top: 10px;
	width:100%;
	height: 216px;
	font-family: inherit !important;
}
.hc_trickery_input {
	padding: 0 13px;
	line-height: 46px;
	border: 1px solid var(--hc_dark_color);
	box-sizing: border-box;
}
.hc_input_long {
  width: 558px;
  height: 48px;
  line-height: 48px;
  border: 1px solid var(--hc_dark_color);
}

/* 
	타이틀 
*/
.hc_tit_page {
    font-size: var(--hc_tit_page);
    font-weight: var(--hc_regular);
    text-align: center;
}
.hc_tit_content {
	font-size: var(--hc_tit_content);	
}
.hc_tit_headline {
	font-size: var(--hc_tit_headline);	
}
.hc_tit_caption {
	font-size: var(--hc_bd_large);
	font-weight: var(--hc_thin);	
}
.hc_clarification {
    margin: var(--hc_clarification);
}

/* 
	게시판 
*/
.hc_wrap_board mark {
	padding: 4px 10px;
	color: var(--hc_bright_color);
	font-size: var(--hc_bd_small);
	font-weight: var(--hc_thin);
	background: var(--hc_dark_color);
}

/*
	테이블 규칙
*/
.hc_table_article,
.hc_table_caption {
  height: 70px;
  line-height: 70px;
  font-size: var(--hc_bd_large);
  font-weight: var(--hc_regular);
  text-align: center;
  border-bottom: 1px solid var(--hc_dark_color);
}
.hc_table_caption th,
.hc_table_article td,
.hc_table_caption td {
	vertical-align: middle;
	border-bottom: 1px solid var(--hc_color_level2);
}
.hc_table_caption {
	margin: 20px 0 68px;
	border-top: 3px solid var(--hc_dark_color);
}
/* 
	table 타입 
*/
.hc_table_type {
  table-layout: fixed;
  border-top: 3px solid var(--hc_dark_color);
  border-bottom: 1px solid var(--hc_color_level2);
}
.hc_table_type th {
  border: 1px solid var(--hc_color_level2);
  box-sizing: border-box;
}
.hc_table_type th:first-child {
  border-left: 0;
}
.hc_table_type td {
  padding-left: 10px;
  border-bottom: 1px solid var(--hc_color_level2);
}
.hc_table_typec,
.hc_table_type,
.hc_table_typeb {
	margin:20px 0 68px
}
.hc_table_typeb th {
  line-height: 58px;
  border-top: 3px solid var(--hc_dark_color);
  border-bottom: 1px solid var(--hc_dark_color);
}
.hc_table_typeb td {
	padding:10px 0; 
	line-height: 2;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid var(--hc_color_level2);
}
.hc_table_typec {
	border-top: 3px solid var(--hc_dark_color);
}
.hc_table_typec th,
.hc_table_typec td {
	padding-left: 10px;
    height: 58px;
    line-height: 2;
	text-align: left;
	vertical-align: middle;
    border-bottom: 1px solid var(--hc_color_level2);
}
.hc_table_typec th {
	text-align: center;
	border: 1px solid var(--hc_color_level2);
}
.hc_table_typec th:first-child {
    border-left: 0;
}

/* 
	width 558 공통
*/
.hc_edit h3 {
	margin: var(--hc_clarification);
}
.hc_edit input[type="password"],
.hc_edit input[type="text"],
.hc_edit input[type="text"] {
    width: 100%;
    height: 48px;
    margin: 10px 0;
}

/* 썸네일 관련 */
.hc_prd_list_information {
	margin: 12px 0 80px;
	font-size: var(--hc_bd_medium);
	font-weight: var(--hc_regular);
	line-height: 2;
	text-align: right;
}
.hc_prd_name {
	font-size: var(--hc_bd_small);
	font-weight: var(--hc_medium);
	vertical-align: baseline;
}
.hc_prd_element {
	display: inline-block;
}
.hc_prd_element:before {
	content: "/";
	margin:0 8px;
}
.hc_normal_price {
	color: var(--hc_color_level2);
	font-size: var(--hc_bd_large);
	font-weight: var(--hc_medium);
	text-decoration: line-through;
}
.hc_discount_price {
	font-size: var(--hc_bd_large);
	font-weight: var(--hc_medium);
}
.hc_discount_rate {
	margin-left: 14px;
	color: var(--hc_color_point);
}
.hc_color_point {
	color: var(--hc_color_point);
}
.hc_no_date {
	padding: 4%;
	text-align:center;
}
.hc_thumbnail4 img {
    width:236px;
}

/* 
	기타 
*/
.hc_alignR {
	text-align: right;
}
.hc_alignL {
	text-align: left;
}
.hc_alignC {
	text-align: center;
}
.hc_single_line,
.hc_row {
	display: inline-block;
}
.hc_blind {
	display: none;
}
.hc_between {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 10px;
}
.hc_row2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hc_row3 {
	display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(32%, auto));
}
.hc_interval1 {
	margin-top: 20px;
}
.hc_interval2 {
  margin-bottom: 140px;
}
.hc_interval3 {
  padding-left: 40px;
}
.hc_interval4 {
  padding: 10px 0;
}
.hc_topside {
	margin-top: 48px
}
.hc_bottomside {
	margin-bottom: 68px
}
.hc_tinny:after {
    content: "ⓘ";
    margin-right: 8px;
}
mark {
	padding: 4px 10px;
	color: var(--hc_bright_color);
	font-size: var(--hc_bd_small);
	font-weight: var(--hc_thin);
	background: var(--hc_dark_color);
}
/* 더보기 */
.hc_more {
  margin-bottom: 10px;
  text-align: right;
}
.hc_more:after {
  content: " > ";
  display: inline-block;
  margin: 0 8px;
}