// 테마
h1 {
    font-size: var(--hc_logo);                 /* 로고용     : 32px     */
}
h2 {
    font-size: var(--hc_tit_page);             /* 페이지 타이틀 : 30px  */
}
h3 {
    font-size: var(--hc_tit_content);          /* 제목      : 28px      */
}
h4 {
    font-size: var(--hc_tit_headline);         /* 머리말    : 26px      */
}
h5 {
    font-size: var(--hc_bd_small);             /* 부 머리말 : 24px      */
}
h6 {
    font-size: var(--hc_tit_caption);          /* 부 머리말 : 22px      */
}
.hc_bd_xxlarge {
    font-size: var(--hc_bd_xxlarge);
}
.hc_color_point {
    color:var(--hc_color_point);
}
// 타이틀
.hc_title_solid {
    display: inline-block;
    margin-top: 38px;
    padding: 14px 0 15px;
    font-size: var(--hc_bd_large);
    font-weight: var(--hc_regular);
    border-top: 1px solid var(--hc_dark_color);
}
.hc_title_dashed {
    display: inline-block;
    margin-top: 38px;
    padding: 14px 0;
    font-size: var(--hc_bd_large);
    font-weight: var(--hc_regular);
    border-top: 1px dashed var(--hc_dark_color);
}
// 간격
.hc_interval1 {
    margin-bottom: 48px;
}
.hc_interval2 {
    margin-bottom: 28px;
}
// 인풋박스/ 셀렉트박스
.hc_inputbox_middle {
    width: 274px;
    height: 58px;
}
.hc_inputbox_middle_btn {
    margin-left: 4px;
    width: 118px;
    height: 58px;
    color: var(--hc_bright_color);
    font-size: var(--hc_bd_large);
    background: var(--hc_dark_color);
    border: 0;
    outline: 0;
    cursor: pointer;
}
// 상품설명 더보기
.hc_md_more_description {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: all 0.6s ease 0s;
    cursor: pointer;
}
// 상품설명 더보기 화살표
.hc_md_arrow {
    position: relative;
    right: 50px;
    display: inline-block;
    margin-right: 30px;
    width: 1.25rem;
    height: 1.25rem;
}
.hc_md_arrow span {
    top: 0.85rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #efefef;
    display: inline-block;
    transition: all 0.2s ease;
}
.hc_md_arrow span:first-of-type {
    left: 0;
    transform: rotate(45deg);
}
.hc_md_arrow span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
}
.hc_md_arrow.active span:first-of-type {
    transform: rotate(-45deg);
}
.hc_md_arrow.active span:last-of-type {
    transform: rotate(45deg);
}
// 메인 로딩 텍스트
.mainImage {
    display: none;
}
.hc_loding_copy {
    overflow: hidden;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba( 0, 0, 0, 0.1 );
}
.hc_loding_copy_bg {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: page-up 1s ease 0s none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: var(--bg-pink);
}
.hc_hc_loding_text {
    display: inline-block;
    color: var(--hc_dark_color);
    font-family: var(--fontfamily1);
    font-size: var(--hc_bd_xlarge);
    font-weight: var(--hc_light);
    text-align: center;
}
.hc_main_section1 img {
position: absolute;
top: 0;
z-index: 99;
}
@keyframes page-up {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}
.loading-data {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-text .char {
    opacity: 0;
    animation: loading-text 2s infinite ease-in-out;
    display: inline-block;
}
.loading-text .char:nth-child(1) {
    animation-delay: 0.9s;
}
.loading-text .char:nth-child(2) {
    animation-delay: 1s;
}
.loading-text .char:nth-child(3) {
    animation-delay: 1.1s;
}
.loading-text .char:nth-child(4) {
    animation-delay: 1.2s;
}
.loading-text .char:nth-child(5) {
    animation-delay: 1.3s;
}
.loading-text .char:nth-child(6) {
    animation-delay: 1.4s;
}
.loading-text .char:nth-child(7) {
    animation-delay: 1.5s;
}
.loading-text .char:nth-child(8) {
    animation-delay: 1.6s;
}
.loading-text .char:nth-child(9) {
    animation-delay: 1.7s;
}
.loading-text .char:nth-child(10) {
    animation-delay: 1.8s;
}
.loading-text .char:nth-child(11) {
    animation-delay: 1.9s;
}
.loading-text .char:nth-child(12) {
    animation-delay: 2s;
}
.loading-text .char:nth-child(13) {
    animation-delay: 2.1s;
}
.loading-text .char:nth-child(14) {
    animation-delay: 2.2s;
}
.loading-text .char:nth-child(15) {
animation-delay: 2.3s;
}
.loading-text .char:nth-child(16) {
    animation-delay: 2.4s;
}
@keyframes loading-text {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    20% {
        transform: translateY(-60%);
        opacity: 1;
    }
    40% {
        transform: translateY(-100%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// 탭스타일
// 메인 > 햄버거 메뉴
.hc_hamburger_tabs {
}
.hamburger_item {
    display: block;
    padding-right: 20px;
    float: left;
    // width: calc(100%/2);
    // height: 40px;
    // line-height: 40px;    
    color: var(--hc_color_level2);
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    // border:1px solid var(--hc_dark_color);
}
input[name="hamburger_item"] {
    display: none;
}
.hamburger_content {
    display: none;
    padding-top: 40px;
    clear: both;
    overflow: hidden;
}
#member:checked ~ #member_content,
#category:checked ~ #category_content {
    display: block;
}
.hc_hamburger_tabs input:checked + .hamburger_item {
    color: var(--hc_dark_color);
    // background-color: var(--hc_dark_color);
}