@mixin marginbottom1 {
    margin-bottom: 48px;
}
// 뱃지
.hc_badge {
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 999;
    width: 32px;
    .hc_badge_up {
        position: relative;
        left: 3px;
        transform: rotate(-90deg);
    }
    .hc_badge_down {
        position: relative;
        left: -3px;
        transform: rotate(90deg);
    }
}
// 상단 텍스트 공지
.hc_notice_top {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--hc_bright_color);
    background: var(--hc_dark_color);
}
// 상단
header {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hc_dark_color);
    #hc_hamburger {
        position: absolute;
        left: 10px;
    }
    h1 {
        font-size: var(--hc_bd_xxlarge);
    }
    .hc_head_search {
        position: absolute;
        right: 68px;
    }
    .hc_head_mypage {
        position: absolute;
        right: 40px;
    }
    .hc_head_cart {
        position: absolute;
        right: 10px;
    }
    .hc_incart {
        position: absolute;
        top: 1px;
        right: -6px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: var(--hc_bd_small);
        text-align: center;
        background: var(--hc_color_point);
        border-radius: 16px;
    }
    #hc_head_mypage {
        background: var(--hc_bright_color);
    }
}
// 하단
.hc_common_footer {
    background: var(--hc_color_level3);
}
.hc_common_footer footer {
    padding: 50px 25px 0;
    line-height: 2.5;
}
.hc_footer_help {
    li {
        list-style: disc;
        margin-left: 20px;
    }
    .hc_md_arrow span {
        background-color: var(--hc_dark_color);
    }
}
.hc_footer_guied {
    // position: fixed;
    // bottom: 0;
    width: 100%;
    background: var(--hc_color_level3);
    summary {
        padding: 0 25px;
        height: 48px;
        line-height: 48px;
        color: var(--hc_bright_color);
        background: var(--hc_dark_color);
    }
    ul {
        margin: 28px 25px 20px;
    }
}
.hc_copyright {
    padding: 10px 25px;
    border-top: 1px solid var(--hc_dark_color);
    
}
/* 모달 검색창 */
#hc_modal_search {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;  
    background: var(--hc_bright_color);
    display:none;
}
#hc_modal_search .hc_modal_search_close {
    position: absolute;
    top: 16px;
    right: 16px;
}
#hc_modal_search .hc_tit {
    margin-bottom: 32px;
    font-size: var(--hc_tit_caption);
    font-weight: var(--hc_mediums);
}
#hc_modal_search form {
    margin: 34px 0 42px;
}
.hc_best_keyword li {
    display: block;
    line-height: 2;
}
/* 햄버거 & 마이페이지 메뉴 */
.hc_mypage_menu,
.hc_hamburger_menu {
    position: absolute;
    left: 0;
    z-index: 999;
    padding: 20px;
    width: 100%;
    height: 100vh;
    line-height: 2;
    background-color: var(--hc_bright_color);
    box-sizing: border-box;
    display:none;
}
.hc_mypage_menu li,
.hc_hamburger_menu li {
    cursor: pointer;
}
.hc_mypage_menu nav,
.hc_hamburger_menu nav {
    position: relative;
}
.hc_hamburger_menu_login,
.hc_hamburger_menu_category {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--hc_bright_color);
}
.hc_mypage_menu ul,
.hc_hamburger_menu ul {
    margin-bottom: 40px;
}
.hc_mypage_menu ul  a p,
.hc_hamburger_menu ul a p {
    margin-left: 14px;
    font-size: var(--hc_bd_medium);
}
.hc_mypage_menu .hc_submenu,
.hc_hamburger_menu .hc_submenu {
    margin-bottom:40px;
}
.hc_mypage_menu .hc_submenu a,
.hc_hamburger_menu .hc_submenu a {
    margin-left: 14px;
    font-size: var(--hc_bd_small);
}
.hc_main_menu {
    font-size: var(--hc_bd_large);
    cursor: pointer;
}
.hc_main_menu:hover {
    opacity: 0.7;
}
.hc_menu_content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.hc_menu_state:checked ~ .hc_menu_content {  
    max-height: 400px;
}
// 마이페이지
.hc_mypage_menu {
    h4 {
        @include marginbottom1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        color: var(--hc_color_point);
        font-size: var(--hc_bd_medium);
        font-weight: var(--hc_regular);
        line-height: 1.7;
        border-bottom: 1px solid var(--hc_dark_color);
        
        span a {
            display: inline-block;
            width: 90px;
            padding: 7px 0;
            color: var(--hc_bright_color);
            text-align: center;
            background: var(--hc_dark_color);
        }
    }
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .tabs {
        overflow: hidden;
    }
    .tab {
    width: 100%;
    color: var(--hc_dark_color);
    overflow: hidden;

        &-label {
            display: flex;
            justify-content: space-between;
            padding: 0.5em;
            cursor: pointer;
            /* Icon */
            &:hover {
                background: var(--hc_bright_color);
            }
            &::after {
            content: "\276F";
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all .35s;
            }
        }
        &-content {
            max-height: 0;
            padding: 0 1em;
            color: var(--hc_dark_color);
            background: var(--hc_bright_color);
            transition: all .35s;
        }
        &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background:  var(--hc_bright_color);
            cursor: pointer;
            &:hover {
                background: var(--hc_bright_color);
            }
        }
    }
    input:checked {
        + .tab-label {
            background: var(--hc_bright_color);
            &::after {
            transform: rotate(90deg);
            }
        }
        ~ .tab-content {
            max-height: 100vh;
            padding: 1em;
        }
    }
}

// 메인
.hc_main_section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    a {
        display: block;
    }
    .hc_main_section10 img,
    .hc_main_section9 img,
    .hc_main_section8 img,
    .hc_main_section7 img,
    .hc_main_section6 img,
    .hc_main_section5 img,
    .hc_main_section4 img,
    .hc_main_section3 img,
    .hc_main_section2 img,
    .hc_random_imgs li img {
        width: 100%;
    }
    .hc_main_section9,
    .hc_main_section8,
    .hc_main_section7,
    .hc_main_section6,
    .hc_main_section5,
    .hc_main_section4,
    .hc_main_section3,
    .hc_main_section2 {
        // margin-bottom: 48px;
        @include marginbottom1;
    }
    // 랜덤이미지
    .hc_random_imgs {
        position: relative;
        li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    // 타임세일
    .hc_main_section2 {
        position: relative;
        .hc_main_time_wrap {
            position: absolute;
            bottom: 100px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .hc_bd_xxlarge {
            color: var(--hc_bright_color);
        }
        .hc_main_timepasses {
            color: var(--hc_bright_color);
            font-size: var(--hc_tit_page);
            font-weight: var(--hc_bold);
        }
        .hc_title_dashed {
            border-bottom: 1px dashed var(--hc_dark_color);
        }
    }
}

// SUB
.hc_sub_wrap {
    .hc_prdlist_types {
        margin-top: 20px;
        .prdlist_item {
            // display: block;
            margin: 10px 10px 0 0;
            float: right;
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background-color: var(--hc_bright_color);
            border:1px solid var(--hc_color_level2);
            border-radius: 25px;
            transition: all 0.2s ease;
        }
        input[name="prdlist_item"] {
            display: none;
        }
        .prdlist_content {
            padding: 20px 0 0;
            text-align: center;
            display: none;
            clear: both;
            overflow: hidden;
        }
        #prdlist1:checked ~ #prdlist1_content,
        #prdlist2:checked ~ #prdlist2_content {
            display: block;
        }
        .hc_prdlist_tabs h2 {
            margin: 0;
            padding-left: 10px;
            display: inline-block;
        }
        .hc_prdlist_tabs input:checked + .prdlist_item {
            color: var(--hc_bright_color);
            background-color: var(--hc_dark_color);
        }
    }
    .hc_sort {
        display: inline-block;
        select {
            border:0;
        }
    }
    .hc_prdlist_view {
        margin: 10px 10px 0 0;
        float: right;
    }
    .hc_prd_element {
        padding: 14px 10px 40px;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        li {
            display: inline-block;
            margin-left: 14px;
            font-size: var(--hc_bd_medium);
        }
        .hc_normal_price:before {
            content: "/";
            display: inline-block;
            margin-right: 14px;
        }
    }
    #prdlist2_content {
        > ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            gap:4px;
        }
        .hc_prd_element {
            li {
                margin-left: 6px;
            }
            .hc_normal_price:before {
                margin-right: 6px;
            }
        }
    }
    // 투데이 특가
    .hc_page_taday {
        .hc_thumbnail img {
            border-radius: 50em 50em 0 0;
        }
    }
    // PFS:GALLERY
    .hc_page_pfs .hc_prd_element LI {
        display: block;
    }
}
